<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemMapper">

	<!-- 상품 등록 -->
	<insert id="ingRegister">
		INSERT INTO TBL_INGREDIENT (
		ingNum, 
		ingName, 
		ingCateCode,
		ingPrice, 
		ingStock, 
		ingWeight,
		ingDes, 
		ingImg, 
		ingThumbImg
		)
		(SELECT CONCAT('I',ing_seq.nextval), 
		#{ingName},
		#{ingCateCode}, 
		#{ingPrice},
		#{ingStock}, 
		#{ingWeight}, 
		#{ingDes},
		#{ingImg}, 
		#{ingThumbImg}
		FROM DUAL)
	</insert>

	<select id="ingList" resultType="com.spring.shop.item.service.ItemVO">
		SELECT ingNum, ingName,
		ingCateCode,
		ingPrice, ingStock, ingWeight, ingDes, ingImg, regDate,
		ingThumbImg
		FROM TBL_INGREDIENT
		WHERE 1=1 
		<include refid="search"></include>
		order by ingNum desc
	</select>

	<select id="listCount"
		parameterType="com.spring.shop.common.service.SearchCriteria" resultType="int">
		SELECT COUNT(INGNUM)
		FROM TBL_INGREDIENT
		WHERE 1=1
		<include refid="search"></include>
	</select>
	
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND ingName LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

	<!-- 상품 조회 + 카테고리 조인 -->
	<select id="ingredientView"
		resultType="com.spring.shop.item.service.ItemVO">
		SELECT 
		ingNum, 
		ingName, 
		ingCateCode, 
		ingPrice, 
		ingStock,
		ingWeight, 
		ingDes, 
		ingImg, 
		ingThumbImg,
		regDate
		FROM TBL_INGREDIENT
		WHERE ingNum = #{ingNum}
	</select>

	<!-- 상품 수정 -->
	<update id="ingredientModify" parameterType="com.spring.shop.item.service.ItemVO">
		UPDATE TBL_INGREDIENT
		SET
		ingName = #{ingName}
		,ingCateCode = #{ingCateCode}
		,ingPrice = #{ingPrice}
		, ingStock = #{ingStock}
		, ingWeight = #{ingWeight}
		, ingDes = #{ingDes}
		 <if test="ingImg != null and ingThumbImg != null">
			, ingImg = #{ingImg}
			, ingThumbImg = #{ingThumbImg}
		 </if>
		WHERE ingNum = #{ingNum}
	</update>

	<!-- 상품 삭제 -->
	<delete id="ingredientDelete">
		DELETE
		TBL_INGREDIENT
		where ingNum = #{ingNum}
	</delete>

	<!-- 식재료 판매 목록 -->
	<select id="sellIngList" resultType="com.spring.shop.item.service.ItemVO">
		SELECT
		ingNum, 
		ingName,
		ingCateCode, 
		ingPrice, 
		ingStock,
		ingWeight, 
		ingDes, 
		ingImg, 
		regDate,
		ingThumbImg
		FROM TBL_INGREDIENT
		WHERE 1=1 
		<include refid="search"></include>
		order by ingNum desc
	</select>

	<!-- 식재료 판매 카테고리별 목록 -->
	<select id="sellIngCateList"
		resultType="com.spring.shop.item.service.ItemVO">
		SELECT
		ingNum, 
		ingName, 
		ingCateCode, 
		ingPrice, 
		ingStock,
		ingWeight, 
		ingDes, 
		ingImg, 
		regDate, 
		ingThumbImg
		FROM TBL_INGREDIENT 
		WHERE ingCateCode = #{ingCateCode}
	</select>

	<!-- 식재료 조회 -->
	<select id="sellIngView" resultType="com.spring.shop.item.service.ItemVO">
		SELECT 
		ingNum, 
		ingName,
		ingCateCode, 
		ingPrice, 
		ingStock,
		ingWeight, 
		ingDes, 
		ingImg,
		ingThumbImg,
		regDate 
		FROM TBL_INGREDIENT 
		where ingNum = #{ingNum}
	</select>

	<!-- 식재료 후기(댓글) 작성 -->
	<insert id="registIngReply">
		INSERT INTO TBL_ING_REPLY (
		ingNum, 
		userId, 
		repNum,
		repCon
		)
		VALUES (
		#{ingNum}, 
		#{userId}, 
		ing_reply_seq.nextval, 
		#{repCon}
		)
	</insert>

	<!-- 식재료 후기 목록 -->
	<select id="ingReplyList"
		resultType="com.spring.shop.item.service.ItemReplyVO">
		select
		r.ingNum, 
		r.userId, 
		r.repNum, 
		r.repCon, 
		r.repDate,
		m.userId
		FROM TBL_ING_REPLY r
		inner join TBL_MEMBER m on r.userId = m.userId
		WHERE ingNum = #{ingNum}
	</select>

	<!-- 식재료 후기(댓글) 삭제 -->
	<delete id="deleteIngReply">
		DELETE TBL_ING_REPLY
		WHERE repNum = #{repNum}
		and userId = #{userId}
	</delete>

	<!-- 아이디 체크 -->
	<select id="replyUserIdCheck" resultType="String">
		SELECT userId
		FROM
		TBL_ING_REPLY
		WHERE repNum = #{repNum}
	</select>

	<!-- 상품 후기(댓글) 수정 -->
	<update id="modifyIngReply">
		UPDATE TBL_ING_REPLY
		SET
		repCon = #{repCon}
		WHERE repNum = #{repNum}
		and userId = #{userId}
	</update>
</mapper>